body {
    font-family: "Cairo", sans-serif;
    direction: rtl;
}
.reload {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../images/book-loading.gif") no-repeat center #f3f2f3;
}
:root {
    --mainColor: #5050ff;
    --white: #fff;
}
.icon {
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.sidenav {
    height: 100vh;
    flex: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/forms/bg-form.jpg");
    background-size: cover;
    color: var(--white);
}

.main {
    flex: 1;
    position: relative;
    height: 100vh;
}

.main .logo {
    position: absolute;
    top: 30px;
    right: 30px;
}

.login-form {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.form-group {
    position: relative;
}

.form-group .icon {
    position: absolute;
    left: 10px;
    top: 8px;
    color: #777;
}

.icon-eye-slash {
    display: none;
}

.btn-log {
    background-color: var(--mainColor);
    color: var(--white);
}

.btn-log:hover {
    color: var(--mainColor);
    border: 1px solid var(--mainColor) !important;
    background-color: var(--white);
}

.registre p {
    color: #777;
}

@media (max-width: 992px) {
    .forms,
    .registre {
        display: block !important;
        text-align: center;
    }
    .sidenav {
        height: 50vh;
        margin-bottom: 20px;
    }
    .login-main-text {
        text-align: center;
        padding: 20px;
    }
    .main form {
        width: 100%;
    }
}
